* {
  -moz-appearance: none;
  -moz-border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img {
  border-style: none;
  vertical-align: bottom;
}

html, body {
  height: 100%;
}

body {
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  background-color: #f8f8f8;
  font: normal normal 62.5%/1em 'Source Sans Pro', sans-serif;
  font-size: 62.5%; }

footer, header, section, summary {
  display: block;
}

.box {
  width:70%;
  height:50%;
  background:#FFF;
  margin:40px auto;
}

li {
  margin-right:10px;
}


/*==================================================
* Effect 1
* ===============================================*/
.effect1{
  box-shadow: 0 10px 6px -6px #777;
}

#container {
  min-height:100%;
  position:relative;
}

header {
  padding:0 60px 60px;
  margin-top: 20px;
  margin-botton: 20px;
}

#content {
  padding-bottom:194px;
}

#content img {
  height:28px;
  width:140px
}

#content #our-work {
  zoom:1
}

#content #our-work ul {
  list-style:none
}

#content #our-work ul li {
  display:block;
  float:left;
  height:359px;
  width:449px;
  position:relative
}

#content #our-work ul li img {
  height: 100%;
  width:100%
}
#content #our-work ul li .overlay {
  background-color:rgba(248,129,75,.9);
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  opacity:0;
  -webkit-transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -ms-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

#content #our-work ul li .overlay:hover {
  background-color:rgba(248,129,75,.9);
  height:100%;left:0;
  position:absolute;
  top:0;
  width:100%;
  opacity:1;
  -webkit-transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  -ms-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

#content #our-work ul li .overlay summary {
  bottom:30px;
  left:60px;
  padding-right:30px;
  position:absolute
}

#content #our-work ul li .overlay summary h2 {
  color:#fff;font:400 20px/1em Source Sans Pro,sans-serif;
  padding-bottom:15px
}

#content #our-work ul li .overlay summary h3 {
  color:#813815;font:300 15px/0.9em Source Sans Pro,sans-serif;
  padding-top:12px
}

#content {
  position:relative;
  zoom:1
}

#content footer {
  bottom:-80px;
  padding:50px 60px 0;
  position:absolute;
  right:0;
  float:right;
  list-style:none
}

#content:after,#content:before {
  content:' ';
  display:table
}
#content:after {
  clear:both
}

#content footer#msf {
  bottom:0;
  left:0;
  position:absolute;
  width:100%
}

footer#msf .wrapper {
  border-top:1px solid #e4e4e4;
  height:73px;
  margin:0 60px
}

footer#msf div#legal {
  float:right;
  font:400 15px/1em Source Sans Pro,sans-serif;
  text-align:right;
  width:300px
}
footer#msf div#legal span {
  padding-right:36px
}

footer#msf span {
  line-height:73px
}

footer#msf #legal span {
  line-height:20px;
  margin-top:20px;
  display:block
}

@media screen and (max-width:1200px) {
  footer#msf .wrapper {
    margin:0 30px
  }

  #content header {
    padding:0 30px 60px
  }

  #content #our-work ul li .overlay summary {
    left:30px
  }

  #content footer {
    padding:20px 30px 0
  }
}

@media screen and (max-width:768px) {
  footer#msf div#legal {
    float:none;
    width:auto
  }

  footer#msf div#legal span {
    display:block;
    padding-left:0;
    text-align:left
  }

  footer#msf li a,footer#msf span {
    line-height:2em
  }
}
